
.etsy-list {
    column-gap:1rem;
    margin:1rem 0 0;
    padding:0;
    opacity: 1;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}


/* Media Queries */

@media only screen and (min-width:480px) {
    .etsy-list {
        column-count:2;
    }
}

@media only screen and (min-width:700px) {
    .etsy-list {
        column-count:3;
    }
}

@media only screen and (min-width:900px) {
    .etsy-list {
        column-count:4;
    }
}

@media only screen and (min-width:1200px) {
    .etsy-list {
        column-count:5;
    }
}
